{% load static %}

<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/bootstrap.css' %}">
    <title>Personagem</title>
</head>

<body>
    <h1>Personagens do Avatar</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nome</th>
                <th scope="col">Afiliação</th>
                <th scope="col">Inimigos</th>
                <th scope="col">Aliados</th>
            </tr>
        </thead>
        <tbody>
            {% for personagem in page.object_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ personagem.nome }}</td>
                <td>{{ personagem.afiliacao }}</td>
                <td>{{ personagem.inimigos_str }}</td>
                <td>{{ personagem.aliados_str }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="pagination">
        <span class="step-links">
            {% if page.has_previous %}
                <a href="?page=1">&laquo; Primeira</a>
                <a href="?page={{ page.previous_page_number }}">Anterior</a>
            {% endif %}
    
            {% if page.has_next %}
                <a href="?page={{ page.next_page_number }}">Próxima</a>
                <a href="?page={{ page.paginator.num_pages }}">Última &raquo;</a>
            {% endif %}
        </span>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>